html {
    height: 100%;
}

body {
    background: url("../images/racing-stripes.png") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#name {
    color: black;
}

@media (pointer:coarse) {
    body {
        background: url("../images/racing-stripes.png");
        background-position: 80%;
    }

    #name {
        color: white;
    }
}

.has-image-centered {
    justify-content: center;
}