html {
    height: 100%;
}

body {
    background: url("../images/background.jpeg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

@media (pointer:coarse) {
    body {
        background: url("../images/background.jpeg") center;
    }
}

.has-image-centered {
    justify-content: center;
}