html {
    height: 100%;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#divider {
    height: 2px; 
    width: 50%;
    text-align:right;
    margin-top: 2em;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 2em;
}

@media (pointer: coarse) {
    #divider {
        width: 100%;
    }
}

/* #name {
    color: black;
} */

/* @media (pointer:coarse) {
    body {
        background: url("../images/background.png");
        background-position: 80%;
    }

    #name {
        color: white;
    }
} */

.has-image-centered {
    justify-content: center;
}